---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import { Image } from "Astro:assets";


const albums = await getCollection("albums");

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="صالة الجمعية">
  <Container>
    <div class="p-8">
        <h1 class="text-5xl font-bold text-center my-8">Gallery</h1>
        <div class="mx-auto container max-w-screen-sm grid grid-cols-2 gap-8">
          {
            albums.map((item) => (
              <a
                href={`/gallery/${item.id}`}
                class="group transition-all mb-4 block"
              >
                <Image
                  src={item.data.cover}
                  alt={item.data.title}
                  format="avif"
                  width={720}
                  quality="mid"
                  class:list={[
                    "rounded-lg transition-all",
                    "group-hover:shadow-lg group-hover:opacity-90"
                  ]}
                />
                <div class="mt-4 text-center text-neutral-700">
                  <strong class="font-normal">{item.data.title}</strong>
                  <p class="text-xs">{item.data.description}</p>
                </div>
              </a>
            ))
          }
        </div>
      </div>
  </Container>
</Layout>
